body {
    font-size: 14pt;
}

* {
    box-sizing: border-box;
}

.title {
    text-align: center;
}

.tickets {
    max-width: 600px;
    margin: auto;
}

.tickets-toolbar {
    display: flex;
    justify-content: flex-end;
}

.tickets-container {
    margin-top: 4px;
}

.tickets-add {
    display: block;
}

.ticket {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 2px;
}

.ticket:nth-child(n + 2) {
    margin-top: 4px;
}

.ticket-row {
    display: flex;
    align-items: center;
}

.ticket-status {
    display: block;
    width: 40px;
    height: 40px;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.ticket-status-switch {
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
}

.ticket-status:checked + .ticket-status-switch:after {
    position: absolute;
    content: "V";
    top: 5px;
    left: 7px;
}

.ticket-name {
    display: block;
    flex-grow: 1;
    margin: auto 2px;
}

.ticket-datetime {
    display: block;
    margin: auto 2px;
}

.ticket-toolbar {
    display: flex;
    margin: auto 2px;
}

.ticket-toolbar-element {
    display: block;
    border: 1px solid gray;
    border-radius: 50%;
    margin: auto 2px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
}

.ticket-dialog {
    width: 400px;
    height: 250px;
    position: absolute;
    top: calc(30% - 250px/2);
    left: calc(50% - 400px/2);
    border: 1px solid black;
    border-radius: 10px;
    z-index: 2;
    background-color: white;
}

.ticket-dialog-base {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: gray;
    opacity: 90%;
}

.ticket-dialog-title {
    margin: auto;
    text-align: center;
}

.ticket-dialog-container {
    margin-top: 20px;
    padding: 0 10px;
}

.ticket-dialog-name {
    display: block;
    width: 100%;
}

.ticket-dialog-description {
    display: block;
    width: 100%;
    min-height: 100px;
}

.ticket-dialog-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.ticket-dialog-cancel {
    margin-right: 4px;
}

.ticket-dialog-ok {
    margin-left: 4px;
}

.display-none {
    display: none;
}

.yesno-dialog {
    width: 400px;
    height: 150px;
    position: absolute;
    top: calc(30% - 250px/2);
    left: calc(50% - 400px/2);
    border: 1px solid black;
    border-radius: 10px;
    z-index: 2;
    background-color: white;
}

.yesno-dialog-base {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: gray;
    opacity: 90%;
}

.yesno-dialog-title {
    margin: auto;
    text-align: center;
}

.yesno-dialog-container {
    margin-top: 20px;
    padding: 0 10px;
}

.yesno-dialog-name {
    display: block;
    width: 100%;
}

.yesno-dialog-description {
    display: block;
    width: 100%;
    min-height: 100px;
}

.yesno-dialog-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.yesno-dialog-cancel {
    margin-right: 4px;
}

.yesno-dialog-ok {
    margin-left: 4px;
}
